.navbar-default {
    border-color: transparent;
    background-color: transparent;
}

.navbar-default.navbar-shrink {
    padding: 10px 0;
    background-color: #829eb6;
}

.navbar-brand>img {
    height: 150px;
    max-width: 200px;
    margin-top: -60px;
}

@media(min-width:768px) {
    .navbar-brand>img {
        height: 150px;
        max-width: 300px;
        margin-top: -60px;
    }
}

@media(min-width:992px) {
    .navbar-brand>img {
        height: 150px;
        max-width: 400px;
        margin-top: -60px;
    }
}
